:root {
  font-size: calc(9px + 1vw);
}

body {
  padding: 0 3%;
}
/* HEADER-SECTION */
header > div {
  display: flex;
  flex-direction: column;
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

header figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > section > h3 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-secondary::before {
  content: "Now";
  color: red;
}

.skills-primary::before {
  content: "Main";
  color: red;
  line-height: 2em;
  display: flex;
}

.skill {
  background: cyan;
  margin: 0.5em 0;
  position: relative;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill > span {
  position: absolute;
  z-index: 100;
  color: white;
}

.skill::after {
  content: "";
  background: red;
  height: 1em;
  top: 50%;
}

[data-skill="5"]::after {
  width: 50%;
}

[data-skill="3"]::after {
  width: 30%;
}

[data-skill="9"]::after {
  width: 70%;
}

[data-skill="7"]::after {
  width: 40%;
}

[data-skill="1"]::after {
  width: 25%;
}

.contacts {
  display: flex;
  flex-direction: column;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(240, 11, 11), rgb(33, 85, 7));
  color: white;
}
.contact a {
  text-decoration: none;
  color: white;
}
